In [1]:
list_of_names = ['omolewa', 'labi', 'nene', 'olalekan']

In [27]:
new_list = []

In [28]:
for name in list_of_names:
    new_list.append(name[0].upper())

In [29]:
[name[0].upper() for name in list_of_names ]

['O', 'L', 'N', 'O']

In [44]:
list_of_names = ['omolewa', 'labi', 'nene', 'olalekan']

str1 = ""

for char in new_list:
    str1 += char
    
"".join([name[0].upper() for name in list_of_names ])

'OLNO'

In [52]:
list_of_names = ['omolewa', 'labi', 'nene', 'olalekan']

dict1 = {}

##for name in list_of_names:
    ##dict1[name.upper()] = name[0].upper()
    
dict1 = {name.upper(): name[0].upper() for name in list_of_names }

dict1

{'OMOLEWA': 'O', 'LABI': 'L', 'NENE': 'N', 'OLALEKAN': 'O'}

In [114]:
date = input(f"Enter your date :")

output= date.split('/')

out=(output[1]+'/'+output[0]+'/'+output[2])
    
    
out

Enter your date :24/06/2022

'06/24/2022'

In [79]:
def square_v(x):
    output = x ** 2
    return output

In [82]:
square_v(7)

49

In [107]:
def multiv (x,y):
    output = x * y
    return output

In [91]:
multiv(5,6)
square_v(5)

25

In [101]:
multiv(9,12)

108

In [104]:
def upper_name(name):
    u = name.upper()
    return u

In [108]:
upper_name('omolewa')

'OMOLEWA'

In [109]:
list_of_names = ['omolewa', 'labi', 'nene', 'olalekan']

In [127]:
def first_char(lis):
    upp = [name[0].upper() for name in lis]
    return upp

In [132]:
first_char(['jide', 'labi', 'nene', 'olalekan','bolaji'])

['J', 'L', 'N', 'O', 'B']

In [75]:
def even_list(x,y):
    pop_x = []
    pop_x.append(x)
    even_list =[]
    list_len = y - x
    
    pop_x =[(x+idx) for idx in range(0,list_len+1)]
        ##pop_x.append(x+idx)
                     
    even_list =[(x+idx) for idx in range(0,list_len+1) if (pop_x[idx] % 2) == 0 ]
        ##if pop_x[ind] % 2 == 0:
            ##even_list.append(pop_x[ind])
            
    return even_list

In [81]:
even_list(3,50)

[4,
 6,
 8,
 10,
 12,
 14,
 16,
 18,
 20,
 22,
 24,
 26,
 28,
 30,
 32,
 34,
 36,
 38,
 40,
 42,
 44,
 46,
 48,
 50]

In [173]:
def largest_item(x):
    max_value = x[0]
    
    
    return [idx for idx in x if idx > max_value]
        ##if idx > max_value:
            ##max_value = idx
            
    ##return max_value

In [175]:
x = [4, 6, 8, 24, 12, 2]

largest_item(x)

[6, 8, 24, 12]

In [22]:
def even_list(x,y):
   
    even_list = []
    even_list =[idx for idx in range(x,y+1) if (idx % 2) == 0  ]
                     
    ##even_list =[(x+idx) for idx in range(0,list_len+1) if (pop_x[idx] % 2) == 0 ]
            
    return even_list

In [24]:
even_list(4,37)

[4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36]

In [33]:
def largest_item(x):
    max_value = x[0]
    
    for idx in x:
        if idx > max_value:
            max_value = idx
            
    return max_value

In [37]:
x = [4,6,8,24,12,2,70,109,20,300,27,192,371,92,73,18,292]

largest_item(x)

371

In [103]:
def showEmployee(x,y=9000):
    emp_out = {}
    emp_out['Name'] = x
    emp_out['salary']= y
    
    return emp_out

In [102]:
showEmployee('owolabi')

{'Name': 'owolabi', 'salary': 9000}