In [1]:
### list comprehension

In [2]:
list_of_names = ["omolewa", "labi", "nene", "olalekan"] # [O, L, N, O] # OLNO

In [6]:
output = []
for name in list_of_names:
    output.append(name[0].upper())

In [7]:
output

['O', 'L', 'N', 'O']

In [8]:
[name[0].upper() for name in list_of_names]

['O', 'L', 'N', 'O']

In [11]:
nums = ['O', 'L', 'N', 'O']

In [14]:
"*************".join(nums)

'O*************L*************N*************O'

In [15]:
str(nums)

"['O', 'L', 'N', 'O']"

In [16]:
nums = ['O', 'L', 'N', 'O']

In [23]:
st = ""
for char in nums:
    
    st += char
    print(st)

O
OL
OLN
OLNO

In [19]:
st

'OLNO'

In [20]:
ot = ""
for name in list_of_names:
    ot += name[0].upper()

In [21]:
ot

'OLNO'

In [24]:
"".join([name[0].upper() for name in list_of_names])

'OLNO'

In [25]:
list_of_names = ["omolewa", "labi", "nene", "olalekan"] # {"OMOLEWA": "O", "LABI": "L"}

In [26]:
output = {}
for name in list_of_names:
    output[name.upper()] = name[0].upper()

In [27]:
output

{'OMOLEWA': 'O', 'LABI': 'L', 'NENE': 'N', 'OLALEKAN': 'O'}

In [29]:
interview_output = {name.upper(): name[0].upper() for name in list_of_names}

In [30]:
interview_output

{'OMOLEWA': 'O', 'LABI': 'L', 'NENE': 'N', 'OLALEKAN': 'O'}

In [31]:
date = "02/12/2023"

In [33]:
out = date.split("/")

In [35]:
out

['02', '12', '2023']

In [37]:
"-".join([out[1], out[0], out[2]])

'12-02-2023'

## Function

In [40]:
def multiply(x, y):
    output = x * y 
    return output

In [41]:
multiply(10, 20)

200

In [42]:
multiply(12)

TypeError: multiply() missing 1 required positional argument: 'y'

In [43]:
def multiply(x=10, y=20):
    output = x * y 
    return output

In [47]:
# Oma
multiply(y=12)

120

In [48]:
# OMolewqa
multiply()

200

In [49]:
def multiply(x, y=20):
    output = x * y 
    return output

In [52]:
multiply(10, 30)

300

In [55]:
def multiply(x =12, y):
    output = x * y 
    return output

SyntaxError: non-default argument follows default argument (<ipython-input-55-586c9e7f50b2>, line 1)

In [ ]:
list_of_names = ["omolewa", "labi", "nene", "olalekan"] # [O, L, N, O]

In [58]:
def ret_upper(lis):
    ret_upp = [name[0].upper() for name in lis]
    return upp

In [59]:
ret_upper(["lekan", "ogechi", "abiola"])

['L', 'O', 'A']

In [70]:
def ret_upper(lis):
    global ret_upp
    ret_upp = [name[0].upper() for name in lis]
    return

In [71]:
ret_upper(["lekan", "ogechi", "abiola"])

In [65]:
ret_upp

['L', 'O', 'A']

In [72]:
def ret_upper(lis):
    ret_upp = [name[0].upper() for name in lis]
    return ret_upp

In [68]:
ret_upper(["colins", "ogechi", "abiola"])

In [69]:
ret_upp

['C', 'O', 'A']

In [73]:
collins = ret_upper

In [74]:
collins(["colins", "ogechi", "abiola"])

['C', 'O', 'A']

In [75]:
def multiply(x=10, y=20):
    output = x * y 
    return output

In [ ]:
oge = multiply()

In [ ]:
abi = multiply