# EXERCISE 1:

In [2]:
def user_profile(x,y):
    
    user_out= (f"Your name is {x} and your age is {y}")
    
    print(user_out)

In [4]:
user_profile('Owolabi',21)

Your name is Owolabi and your age is 21

# EXERCISE 2:

In [6]:
def func1(*x):
    
    for value in x:
        
        print(value)

In [8]:
func1(20,40,50)

20
40
50

In [36]:
func1(80,100)

80
100

# EXERCISE 3:

In [12]:
def calculation(x,y):
    calc_add = x + y
    calc_sub = x - y
    
    return(calc_add,calc_sub)

In [37]:
calculation(40,10)

(50, 30)

# EXERCISE 4:

In [16]:
def showEmployee(x,y=9000):
    emp_out = {}
    emp_out['Name'] = x
    emp_out['salary']= y
    
    return emp_out

In [18]:
showEmployee('Ben',12000)

{'Name': 'Ben', 'salary': 12000}

In [38]:
showEmployee('Jessa')

{'Name': 'Jessa', 'salary': 9000}

# EXERCISE 5:

In [22]:
def outFunc(x,y):
    def inFunc():
        add_res = x + y
        return add_res
    
    return inFunc()+5

In [39]:
outFunc(5,6)

16

# EXERCISE 6:

In [26]:
def display_student(x,y):
    
    st_out= (f"Your name is {x} and your age is {y}")
    
    return st_out

In [40]:
show_student = display_student

show_student('Owolabi', 19)

'Your name is Owolabi and your age is 19'

# EXERCISE 7:

In [30]:
def even_list(x,y):
   
    even_list = []
    
    even_list =[idx for idx in range(x,y+1) if (idx % 2) == 0]
                             
    return even_list

In [41]:
even_list(4,30)

[4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30]

# EXERCISE 8:

In [34]:
def largest_item(x):
    
    max_value = max(x)
            
    return max_value

In [35]:
x = [4,6,8,24,12,2]

largest_item(x)

24