In [2]:
i1 = [3, 6, 9, 12, 15, 18, 21]
i2 = [4, 8, 12, 16, 20, 24, 28]
i3 = []

for x in i1[1::2]:
    i3.append(x)
for y in i2[::2]:
    i3.append(y)

print(i3)

[6, 12, 18, 4, 12, 20, 28]

In [4]:
keys = ["Ten","Twenty","Thirty"]
values = [10, 20, 30]
dict1 = {}

for key in keys:
    for value in values:
        dict1[key] = value
        values.remove(value)
        break
print(dict1)

{'Ten': 10, 'Twenty': 20, 'Thirty': 30}

In [9]:
dict1 = {"Ten" : 10, "Twenty" : 20, "Thirty" : 30}
dict2 = {"Thirty" : 30, "Fourty" : 40, "Fifty" : 50}

dict3 = {}

dict3.update(dict1)
dict3.update(dict2)


print(dict3)

{'Ten': 10, 'Twenty': 20, 'Thirty': 30, 'Fourty': 40, 'Fifty': 50}

In [8]:
sampleDict = {
    "class":{
        "student":{
            "name": "Mike",
            "marks":{
                "physics":70,
                "history":80
            }
        }
        
    }
}


for element in sampleDict['class']['student']:
    for key, value in sampleDict['class']['student'].items():
        if 'marks' == key:
            print(value['history'])

80
80

In [11]:
sample_list = [11, 45, 8, 23, 14, 12, 78, 45, 89]

chunk1 = []
chunk2 = []
chunk3 = []

list_len = len(sample_list)

list_len

chunk = 0
incr = list_len // 3

for i in sample_list[chunk:chunk+incr]:
    chunk1.append(i)
chunk += incr
for j in sample_list[chunk:chunk + incr]:   
    chunk2.append(j)
chunk += incr
for k in sample_list[chunk:chunk + incr]:
    chunk3.append(k)
    

print("Chunk1 List: ",chunk1)
chunk1.reverse()
print("Chunk1 List Reversed: ",chunk1)

print("Chunk2 List: ",chunk2)
chunk2.reverse()
print("Chunk2 List Reversed: ",chunk2)

print("Chunk2 List: ",chunk2)
chunk3.reverse()
print("Chunk3 List Reversed: ",chunk3)

Chunk1 List:  [11, 45, 8]
Chunk1 List Reversed:  [8, 45, 11]
Chunk2 List:  [23, 14, 12]
Chunk2 List Reversed:  [12, 14, 23]
Chunk2 List:  [12, 14, 23]
Chunk3 List Reversed:  [89, 45, 78]

In [13]:
sample2_list = [11, 45, 8, 11, 23, 45, 23, 45, 89]

new_dict = {}

for i in sample2_list:
    new_dict[i] = sample2_list.count(i)
        

new_dict

{11: 2, 45: 3, 8: 1, 23: 2, 89: 1}

In [8]:
sample_dict = {
    "name":"Kelly",
    "age" : 25,
    "salary" : 8000,
    "city" : "New York"
}

ext_key = ['name','salary']

key_ext = {key: sample_dict[key] for key in sample_dict.keys() & ext_key}

print(key_ext)

{'salary': 8000, 'name': 'Kelly'}

In [15]:
first_list = [2, 3, 4, 5, 6, 7, 8]
second_list = [4, 9, 16, 25, 36, 49, 64]

new_set = set(zip(first_list,second_list))


new_set

{(2, 4), (3, 9), (4, 16), (5, 25), (6, 36), (7, 49), (8, 64)}

In [ ]:
sample_dict = {'a': 100, 'b' : 200, "c" : 300}

find_value = int(input(f"ENTER A VALUE:"))

for key in sample_dict.keys():
    if sample_dict[key] == find_value:
        print(f"The number {find_value} is in this dictionary")
        break

In [2]:
sample6_dict = {
  'Physics': 82,
  'Math': 65,
  'history': 75
}

min_value = min(sample6_dict.values())
min_key = [key for key, value in sample6_dict.items() if value == min_value][0]

min_key

'Math'

In [9]:
sample5_dict = {
    'emp1': {'name': 'Jhon', 'salary': 7500},
    'emp2': {'name': 'Emma', 'salary': 8000},
    'emp3': {'name': 'Brad', 'salary': 500}
}


sample5_dict['emp3']['salary'] = 8500


sample5_dict

{'emp1': {'name': 'Jhon', 'salary': 7500},
 'emp2': {'name': 'Emma', 'salary': 8000},
 'emp3': {'name': 'Brad', 'salary': 8500}}