In [62]:
### Exercise 2: Convert two lists into a dictionary

keys = ['Ten', 'Twenty', 'Thirty']
values = [10, 20, 30]

keyValue = dict(zip(keys, values))
print(keyValue)

{'Ten': 10, 'Twenty': 20, 'Thirty': 30}

In [1]:
### Exercise 3: Merge two Python dictionaries into one

dict1 = {'Ten': 10, 'Twenty': 20, 'Thirty': 30}
dict2 = {'Thirty': 30, 'Fourty': 40, 'Fifty': 50}

dict1.update(dict2)
dict1

{'Ten': 10, 'Twenty': 20, 'Thirty': 30, 'Fourty': 40, 'Fifty': 50}

In [2]:
### Exercise 4: Print the value of key ‘history’ from the below dict

sampleDict = {
    "class": {
        "student": {
            "name": "Mike",
            "marks": {
                "physics": 70,
                "history": 80
            }
        }
    }
}

print(sampleDict['class']['student']['marks']['history'])

80

In [21]:
### Exercise 5: Create a dictionary by extracting the keys from a given dictionary

sample_dict = {
    "name": "Kelly",
    "age": 25,
    "salary": 8000,
    "city": "New york"}

keys = ['name', 'salary']
output = {}

for x in keys:
    y = sample_dict[x]
    output[x] = y
print(output)

{'name': 'Kelly', 'salary': 8000}

In [11]:
### Exercise 6: Check if a value exists in a dictionary
    
sample_dict = {'a': 100, 'b': 200, 'c': 300}

if 200 in sample_dict.values():
    print('200 present in dict ')

200 present in dict

In [5]:
### Exercise 7: Get the key of a minimum value from the following dictionary

sample_dict = {
  'Physics': 82,
  'Math': 65,
  'history': 75
}

In [6]:
### Exercise 8: Change value of a key in a nested dictionary

sample_dict = {
    'emp1': {'name': 'Jhon', 'salary': 7500},
    'emp2': {'name': 'Emma', 'salary': 8000},
    'emp3': {'name': 'Brad', 'salary': 500}
}

sample_dict['emp3']['salary'] = 8500
sample_dict

{'emp1': {'name': 'Jhon', 'salary': 7500},
 'emp2': {'name': 'Emma', 'salary': 8000},
 'emp3': {'name': 'Brad', 'salary': 8500}}

In [7]:
### Exercise 9: Create a list by picking an odd-index items from the first list and even index items from the second

l1 = [3, 6, 9, 12, 15, 18, 21]
l2 = [4, 8, 12, 16, 20, 24, 28]

l3 = l1[1::2]

y = l2[::2]

l3.extend(y)

print(l3)

[6, 12, 18, 4, 12, 20, 28]

In [8]:
### Exercise 10: Slice list into 3 equal chunks and reverse each chunk

sample_list = [11, 45, 8, 23, 14, 12, 78, 45, 89]

chunk1 = sample_list[:3]

chunk1.reverse()
print(chunk1)

chunk2 = sample_list[3:6]

chunk2.reverse()
print(chunk2)

chunk3 = sample_list[-3:]

chunk3.reverse()
print(chunk3)

[8, 45, 11]
[12, 14, 23]
[89, 45, 78]

In [14]:
### Exercise 11: Count the occurrence of each element from a list

sample_list = [11, 45, 8, 11, 23, 45, 23, 45, 89]

dic = {}

for loop in sample_list:
    y = sample_list.count(loop)
    dic[loop] = y
print(dic)

{11: 2, 45: 3, 8: 1, 23: 2, 89: 1}

In [ ]:
### Exercise 12: Create a Python set such that it shows the element from both lists in a pair

first_list = [2, 3, 4, 5, 6, 7, 8]
second_list = [4, 9, 16, 25, 36, 49, 64]